# macOS
.DS_Store

# Virtual environment
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Data files
data/raw/*.csv
data/processed/*.csv
*.db
*.sqlite

# Models
# Ignore trained model files but not source code
models/checkpoints/
models/test_checkpoints/
models/best_model/
models/test_best_model/
mlruns/


# Logs
logs/*.log

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/

# Docker
*.log
archive/
mlruns/
